name: Run Python in Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-docker-app .

      - name: Run Python program inside Docker
        run: docker run python-docker-app

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Push Docker Image
        run: |
                docker push ${{ vars.DOCKER_USERNAME }}/rukpabi/ec2-test:latest
