name: Run Python in Docker

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t python-docker-app .

      - name: Run Python program inside Docker
        run: docker run python-docker-app
      
      - uses: mr-smithers-excellent/docker-build-push@v6
        with:
            image: rukpabi/ec2-test/python-docker-app
            registry: docker.io
            username: ${{ vars.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
 
